@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@layer reset, maselli;

@layer maselli {
    body {
        font: 11pt "Open Sans", sans-serif;
        color: var(--default-font-color);
        line-height: 24px;
    }

    ul {
        padding: 0 0 0 40px;
    }
}

:root {
    --spacing-sm: 8pt;
    --spacing-lg: calc(var(--spacing-sm) * 2);
    --section-indent: 16pt;
    --default-font-color: #9099a0;
    --heading-color: #6c9;
    --accent-color: #fff;
    --surface-color: #3d3e42;
    --surface-dark: #4a4e51;
}

@media print {
    .job-entry,
    .skills-category,
    .education-entry {
        break-inside: avoid;
    }
}

body {
    header {
        padding-top: var(--spacing-lg);
    }
}

main {
    padding: 40px;
    padding-bottom: var(--spacing-lg);
    background-color: var(--surface-color);

    section {
        margin-bottom: var(--spacing-lg);

        h2 {
            margin-bottom: var(--spacing-sm);
            color: var(--heading-color);
        }

        > div {
            padding-left: var(--section-indent);
        }
    }

    strong {
        color: #eee;
    }
}

#contact-info {
    margin-bottom: var(--spacing-lg);

    #linkedin::before {
        background-image: url('../images/linkedin.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        content: "";
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 3px;
    }

    h1 {
        font-size: 40px;
        font-family: "Varela Round", sans-serif;
        color: var(--surface-dark);
        text-align: center;
    }

    p {
        text-align: center;

        * {
            display: block;
        }
    }

    a:nth-child(2)::after,
    a:nth-child(3)::after {
        color: inherit;
        text-decoration: none;
        cursor: text;
    }
}

#technical-skills {
    h3,
    .skills-category {
        margin-bottom: var(--spacing-sm);
    }

    h3 {
        color: var(--accent-color);
    }
}

#certifications-and-trainings {
    color: var(--accent-color);

    span {
        display: block;
    }

    li {
        margin-bottom: var(--spacing-sm);
    }

    time {
        font-size: smaller;
    }
}

#employment-history {
    h2 {
        margin-bottom: auto;
    }

    ul {
        padding: 15px 0 0 15px;
    }

    p {
        font-size: smaller;
    }

    .job-entry {
        padding-left: var(--section-indent);

        header h3,
        .job-title,
        .job-meta {
            color: var(--accent-color);
        }

        header h3 em {
            font-weight: normal;
            font-style: italic;
            font-size: smaller;
        }

        .job-meta {
            margin-bottom: var(--spacing-sm);

            span {
                display: inline;
            }

            span::after {
                content: " | ";
            }
        }
    }
}

#education {
    .education-entry {
        margin-bottom: var(--spacing-sm);
        color: var(--accent-color);

        p {
            font-size: smaller;
        }
    }
}