@import url('./style.css');

body {
    em {
        font-weight: 600;
        font-style: normal;
    }
}

#employment-history {
    .job-entry:nth-child(6),
    .job-entry:nth-child(7) {
        display: none;
    }
}

#certifications-and-trainings,
#education {
    display: none;
}